
/* Your CSS Code here. */
#btn{
/* 	 width: 10em;
    height: 5ex; */
    background-color:black; 
    border-color:rgb(255, 255, 255);
    border-radius:5px;
    font-weight: bold;
	width:50%;
    color: white;
	padding:20px 10px;
   
}
#btn:hover{
	background-color:yellow;
	color:black;
	border:30px;
	border-style:solid;
/* 	border-style:solid;
	border-radius:30px: */
	
}