
/* Your CSS Code here. */
#btn {
  background-color: black;
  border-radius: 5px;
  font-weight: bold;
  width: 50%;
  color: white;
  padding: 20px 10px;
  border: none; /* Add this line */
}
#btn:hover {
  background-color: yellow;
  color: black;
  border-radius:30px;
}